.preview {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e7e7e7;
  margin: 20px auto;
}

#preview {
  width: inherit;
}

.preview__title {
  color: #61dafb;
  width: 100%;
  margin: 0;
  background: #282c34;
  text-align: center;
  padding: 10px 0;
}

.preview code {
  background: white;
  padding: 2px;
}

.preview blockquote {
  border-left: 4px solid black;
  padding-left: 10px;
}
